
FirstAutomationInStudio/.local/FirstAutomationInStudio.nuget.props
FirstAutomationInStudio/.local/AllDependencies.json
FirstAutomationInStudio/.local/db/references.db
FirstAutomationInStudio/.local/db/references.db
FirstAutomationInStudio/.local/nuget.cache.backup
FirstAutomationInStudio/.local/ProjectSettings.json
FirstAutomationInStudio/.objects/.type
FirstAutomationInStudio/.screenshots/2e83a6e450f1ae8dbf17a87964844cec.png
Variables/.local/ProjectSettings.json
FirstAutomationInStudio/project.json
FirstAutomationInStudio/Main.xaml
FirstAutomationInStudio/.settings/Release/settings-9e9290da.json
FirstAutomationInStudio/.settings/Release/settings-590bb27b.json
FirstAutomationInStudio/.settings/Release/settings-5190454b.json
FirstAutomationInStudio/.settings/Release/settings-1a5b880a.json
FirstAutomationInStudio/.settings/Debug/settings-9e9290da.json
FirstAutomationInStudio/.settings/Debug/settings-590bb27b.json
FirstAutomationInStudio/.settings/Debug/settings-5190454b.json
FirstAutomationInStudio/.settings/Debug/settings-1a5b880a.json
FirstAutomationInStudio/.screenshots/eb58421f5b6d5e6c203e3c158ab4f80b.png
FirstAutomationInStudio/.screenshots/49164e963c4628a6d73ff6245e13ce1a.png
FirstAutomationInStudio/.screenshots/49ca42d56ec626de2a123601f9ab5805.png
FirstAutomationInStudio/.screenshots/4e5bd518114ca9f2d0d1308440249032.png
FirstAutomationInStudio/.screenshots/629928a5d5d3aa2ceb84de759df7e209.png
FirstAutomationInStudio/.screenshots/69ae94958f63974edb8006c94e7911cc.png
FirstAutomationInStudio/.screenshots/6e1575efc699264bf28c3b17b45e979d.png
FirstAutomationInStudio/.screenshots/79c1822e1c6d0e87d50510d9f70934c9.png
FirstAutomationInStudio/.screenshots/7cbe2e8259564067ffbfbbe2df4c9e97.png
FirstAutomationInStudio/.screenshots/959903af910fab68721689e8cc75d273.png
FirstAutomationInStudio/.screenshots/d7843a94adae65704855824eb0711ed3.png
FirstAutomationInStudio/.screenshots/d22e283bd4b35430dbb4b8664509c0eb.png
FirstAutomationInStudio/.screenshots/ce9d5c276890208952b357f94a708f7c.png
FirstAutomationInStudio/.screenshots/caab63bcd7036c683f4046bc8e949a9e.png
FirstAutomationInStudio/.screenshots/c94113a5d3e9bdce32547f5fb5f2b42a.png
FirstAutomationInStudio/.screenshots/c731ce89ac20228c7aeda93f12839fb6.png
FirstAutomationInStudio/.screenshots/a555f154f456f0b0445152d01dfe4cfd.png
FirstAutomationInStudio/.screenshots/3d244f6210eead5782f8bc7dda43845b.png
FirstAutomationInStudio/.screenshots/0ad9c397fcdf6fadd9711e9f3fe22b10.png
FirstAutomationInStudio/.objects/.metadata
FirstAutomationInStudio/.local/PackageCache.json
FirstAutomationInStudio/.local/nuget.cache
ArrayVariables/.local/ProjectSettings.json
IfStatement/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
ForEach/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
Switch/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
DoWhile/.local/ProjectSettings.json
Practice3/.local/ProjectSettings.json
FirstAutomation/.local/ProjectSettings.json
ArrayVariables/.local/AllDependencies.json
ArrayVariables/.local/AllDependencies.json
ArrayVariables/.local/AllDependencies.json
ArrayVariables/.local/ArrayVariables.nuget.props
ArrayVariables/.local/db/references.db
ArrayVariables/.local/nuget.cache
ArrayVariables/.local/nuget.cache.backup
IfStatement/.local/AllDependencies.json
IfStatement/.local/db/references.db
IfStatement/.local/nuget.cache
IfStatement/.local/nuget.cache.backup
ArrayVariables/.local/AllDependencies.json
ArrayVariables/.local/ArrayVariables.nuget.props
ArrayVariables/.local/db/references.db
ArrayVariables/.local/nuget.cache
